@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

address {
  font-style: normal; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 960px;
  background-color: #eaeaea;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 20px auto;
  -webkit-box-shadow: 1px 1px 10px black;
  box-shadow: 1px 1px 10px black; }
  .container .profile {
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
    background-color: #39383a;
    color: #ababab; }
    .container .profile-photo {
      height: 230px;
      background-image: url(../../img/profile.png);
      background-size: cover;
      background-position: top;
      background-repeat: no-repeat; }
    .container .profile-info {
      padding: 50px 30px 70px 30px; }
      .container .profile-info .contacts {
        margin-bottom: 70px; }
        .container .profile-info .contacts-title {
          font-size: 16px;
          color: #ffffff;
          font-family: "Open Sans";
          font-weight: 400;
          margin: 0 0 13px 0; }
        .container .profile-info .contacts-text {
          font-size: 13px;
          color: #ababab;
          text-decoration: none;
          padding-left: 28px;
          font-family: "Open Sans";
          font-weight: 300;
          line-height: 20.97px; }
        .container .profile-info .contacts-item {
          padding: 24px 0 24px 0;
          border-bottom: 2px #5a5a5a dashed; }
        .container .profile-info .contacts .fas {
          margin-right: 7px; }
      .container .profile-info .languages {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-top: 40px; }
        .container .profile-info .languages .language {
          width: 100px;
          height: 100px;
          border: 6px solid #5c5c5c;
          border-radius: 50%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          margin: 0 30px 30px 0; }
          .container .profile-info .languages .language-text {
            font-family: "Open Sans";
            text-transform: uppercase;
            font-size: 11px;
            color: #ababab;
            font-weight: 400;
            line-height: 20.97px; }
          .container .profile-info .languages .language-per {
            color: #ffffff;
            font-family: "Open Sans";
            font-size: 15px;
            font-weight: 600;
            letter-spacing: 0.56px; }
          .container .profile-info .languages .language:nth-child(3) {
            margin-bottom: 0; }
        .container .profile-info .languages .lines {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; }
          .container .profile-info .languages .lines .line {
            margin: 10px 0 10px 0;
            display: block;
            width: 90px;
            height: 2px;
            background-color: #5c5c5c; }
            .container .profile-info .languages .lines .line:nth-child(2) {
              width: 100px;
              margin-left: 20px; }
    .container .profile-text {
      line-height: 24.19px;
      font-size: 13px;
      font-family: Roboto;
      font-weight: 300;
      margin-bottom: 50px; }
    .container .profile .heading {
      font-size: 16px;
      margin: 0;
      padding: 0 0 16px 0;
      font-weight: 700;
      text-transform: uppercase;
      font-family: "Open Sans"; }
    .container .profile .heading-light {
      color: #ffffff;
      border-bottom: 2px #5a5a5a dashed; }
  .container .resume {
    -ms-flex-preferred-size: 63%;
    flex-basis: 63%;
    padding: 25px 30px 25px 30px;
    background-color: #ffffff; }
    .container .resume-wrap {
      border: 1px solid rgba(168, 168, 168, 0.44);
      padding: 36px 56px 36px 56px;
      min-height: 100%; }
      .container .resume-wrap .logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .container .resume-wrap .logo-img {
          width: 90px;
          height: 90px;
          border: 1px solid #39383a;
          border-radius: 50%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
        .container .resume-wrap .logo-lines {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          margin: 0 17px 0 17px; }
          .container .resume-wrap .logo-lines_left .logo-line:nth-child(2) {
            margin-right: 20px;
            width: 55px; }
          .container .resume-wrap .logo-lines_right .logo-line:nth-child(2) {
            margin-left: 20px;
            width: 55px; }
        .container .resume-wrap .logo-line {
          width: 43px;
          height: 2px;
          background-color: #39383a;
          margin: 10px 0 10px 0; }
      .container .resume-wrap .about {
        text-align: center; }
        .container .resume-wrap .about .name {
          font-size: 16px;
          text-transform: uppercase;
          letter-spacing: 10.75px;
          color: #39383a;
          font-family: Roboto;
          font-weight: 500;
          line-height: 83.87px; }
