@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

html{
    box-sizing: border-box;
}


.container{
    display: flex;
    max-width: 960px;
    background-color: #eaeaea;
    justify-content: space-between;
    margin: 20px auto;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
}/*container*/

.profile{
    flex-basis: 35%;
    background-color: #39383a;
    color: #ababab;
        
    &-photo{
        height: 240px;
        background-image: url(../../img/profile.jpg);
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }/*profile-photo*/

     &-info{
        padding: 50px 30px 70px 30px;
    }/*profile-info*/

    &-text{
        line-height: 24.19px;
        font-size: 13px;
        font-family: Roboto;
        font-weight: 300;
        margin-bottom: 50px;
        }/*profile-text*/
}/*profile*/

.languages{
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
}/*languages*/

.language{
    width: 100px;
    height: 100px;
    border: 6px solid #5c5c5c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 30px 30px 0;
    
    &-text{
        font-family: "Open Sans";
        text-transform: uppercase;
        font-size: 11px;
        color: #ababab;
        font-weight: 400;
        line-height: 20.97px;
    }/*language-text*/

    &-per{
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0.56px;
    }/*language-per*/
    
    &:nth-child(3) {
        margin-bottom: 0;
    }/*language:nth-child(3)*/
}/*language*/

.lines{
    display: flex;
    flex-direction: column;
    justify-content: center; 
}/*lines*/

.line{
    margin: 10px 0 10px 0;
    display: block;
    width: 90px;
    height: 2px;
    background-color: #5c5c5c;

    &:nth-child(2){
        width: 100px;
        margin-left: 20px;
    }/*line:nth-child(2)*/
}/*line*/

.contacts{
    margin-bottom: 70px;

    &-title{
        font-size: 16px;
        color: #ffffff;
        font-family: "Open Sans";
        font-weight: 400;
        margin: 0 0 13px 0;
    }/*contacts-title*/

    &-text{
        font-size: 13px;
        color: #ababab;
        text-decoration: none;
        padding-left: 28px;
        font-family: "Open Sans";
        font-weight: 300;
        line-height: 20.97px;

        &__link{
            &-app{
                padding-left: 6px;
            }

            &-web{
                padding-left: 2px;
            } 
        }
    }/*contacts-text*/

    &-item{
        padding: 24px 0 24px 0;
        border-bottom: 1px #5a5a5a dashed;
    }/*contacts-item*/
}/*contacts*/

.fas, .fab{
    margin-right: 7px;
}/*fas*/

.heading{
    font-size: 16px;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Open Sans";

    &-light{
        color: #ffffff;
        border-bottom: 1px #5a5a5a dashed;
        padding: 0 0 24px 0;
    }/*heading-light*/

    &-dark{
        color: #39383a;
        border-bottom: 1px solid #e0e0e0;
        padding: 0 0 32px 0;
        letter-spacing: 1.04px;
    }/*heading-dark*/
}/*heading*/

.resume{
    flex-basis: 63%;
    padding: 25px 30px 25px 30px;
    background-color: #ffffff;

    &-wrap{
        border: 1px solid rgba(168, 168, 168, 0.44);
        padding: 36px 56px 36px 56px;
        min-height: 100%;      
    }/*resume-wrap*/
}/*resume*/

.logo{
    display: flex;
    justify-content: center;
    margin-bottom: 38px;

    &-img{
        text-align: center;
        width: 90px;
        height: 90px;
        border: 2px solid #39383a;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #39383a;
        font-family: "Open Sans";
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -1.15px;
    }/*logo-img*/

    &-lines{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 17px 0 17px;

        &__left{
            .logo-line:nth-child(2), .logo-line:nth-child(4){
                margin-right: 20px;
                width: 55px;
            }
        }

        &__left{
            .logo-line:nth-child(3){
                margin-right: 40px;
                width: 60px;
            }
        }

        &__right{
            .logo-line:nth-child(2), .logo-line:nth-child(4){
                margin-left: 20px;
                width: 55px;
            }
        }

        &__right{
            .logo-line:nth-child(3){
                margin-left: 40px;
                width: 60px;
            }
        }
    }/*logo-lines*/

    &-line{
        width: 43px;
        height: 2px;
        background-color: #39383a;
        margin: 5px 0 5px 0;
    }/*logo-line*/
}/*logo*/

.about{
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 32px;

    &-address{
        margin-bottom: 14px;
        color: #39383a;
        font-family: Roboto;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 0.83px;
    }/*about-address*/

    &-contacts{
        font-size: 8px;
        font-weight: 400;
        font-family: Roboto;
            
        &__link{
            text-decoration: none;
            color: #777777;
        }/*about-contacts__link*/

        &__bold{
            color: #39383a;
            letter-spacing: 0.52px;
            font-weight: 700;
        }/*about-contacts__bold*/
    }/*about-contacts*/
}/*about*/

.name{
    margin-bottom: 15px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 10.75px;
    color: #39383a;
    font-family: Roboto;
    font-weight: 500;
}/*name*/

.position{
    margin-bottom: 32px;
    color: #808080;
    font-family: "Open Sans";
    font-size: 9px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.72px;
}/*position*/

.section{
    margin-top: 32px;
}/*experience*/

.list{                    
    &-item{
        position: relative;
        padding-left: 40px;
        border-bottom: 1px dashed #ececec;
        margin-top: 32px;

        &__title{
            color: #39383a;
            font-family: "Open Sans";
            font-size: 11px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.73px;
            margin-bottom: 10px;
        }/*list-item__title*/

        &__date{
            color: #39383a;
            font-family: Roboto;
            font-size: 10px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 0.68px;
            margin-bottom: 20px;
        }/*list-item__date*/

        &__text{
            color: #777777;
            font-family: Roboto;
            font-size: 10px;
            font-weight: 400;
            letter-spacing: 0.38px;
            margin-bottom: 32px;
        }/*list-item__text*/

        &:last-child{
            border-bottom: 1px solid #ececec;
        }/*list-item:last-child*/
    }/*list-item*/

    &-item:before{
        position: absolute;
        content: '';
        left: 0;
        top: 1px;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: #000000;
    }/*list-item:before*/
}/*list*/

.skills-list{
    &__item{
        margin-bottom: 32px;
        color: #39383a;
        font-family: "Open Sans";
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.73px;
        display: flex;
        justify-content: space-between;

        &:first-child{
            margin-top: 32px;
        }
    }/*skills-list__item*/
}/*skills-list*/

.level{
    width: 267px;
    height: 8px;
    border: 1px solid #898989;
    margin-right: 50px;
    position: relative;

    &:before{
        content: '';
        height: 100%;
        background-color: #898989;
        position: absolute;
        left: 0;
        top: 0;
    }/*level:before*/

    &-90:before{
        width: 90%;
    }/*level-90:before*/

    &-80:before{
        width: 80%;
    }/*level-80:before*/

    &-65:before{
        width: 65%;
    }/*level-65:before*/

    &-60:before{
        width: 60%;
    }/*level-65:before*/

    &-50:before{
        width: 50%;
    }/*level-50:before*/
}/*level*/

@media (max-width: 1024px){
    .container{
        width: 90%;
    }
    
}

@media (max-width: 992px){
    .container{
        flex-direction: column;
    }/*container*/

    .profile{        
        &-photo{
            background-image: url(../../img/profile992.jpg);
            height: 300px;
        }/*profile-photo*/
    }/*profile*/

    .lines{
        display: none;
    }/*lines*/
}

@media (max-width: 768px){
    

    .profile{        
        .container{
            width: 90%;
        }/*container*/

        &-photo{
            background-image: url(../../img/profile992.jpg);
            height: 250px;
        }/*profile-photo*/
    }/*profile*/

    .resume{   
        &-wrap{
            padding: 36px 10px 36px 10px;  
        }/*resume-wrap*/
    }/*resume*/

    .list{
        &-item{
            &__title{
                font-size: 14px;
            }/*list-item__title*/

            &__date{
                font-size: 12px;
            }/*list-item__date*/

            &__text{
                font-size: 12px;
                line-height: 1.4;
            }/*list-item__text*/
        }/*list-item*/
    }/*list*/

    .about{
        &-contacts{
            &__link{
                display: block;
                font-size: 12px;
            }/*about-contacts__link*/

            &__separator{
                display: none;
            }/*about-contacts__separator*/
        }/*about-contacts*/
    }/*about*/
}

@media (max-width: 670px){
    .profile{        
        &-photo{
            background-image: url(../../img/profile992.jpg);
            height: 220px;
        }/*profile-photo*/
    }/*profile*/
}

@media (max-width: 596px){
    .profile{        
        &-photo{
            background-image: url(../../img/profile992.jpg);
            height: 200px;
        }/*profile-photo*/
    }/*profile*/
    .name{
        letter-spacing: 2pt;
    }/*name*/
    .level{
        width: 50%;
    }/*level*/
}

@media (max-width: 567px){
    .logo{
        &-lines{
            margin-left: 0;
            margin-right: 0;
        }/*logo-lines*/
    }/*logo*/
}

@media (max-width: 480px){
    .container{
        min-width: 320px;
    }/*container*/

    .profile{        
        &-photo{
            background-image: url(../../img/profile.jpg);
            height: 300px;
        }/*profile-photo*/
    }/*profile*/

    .level{
        width: 30%;
    }/*level*/

    .logo{
        &-img{
            width: 40px;
            height: 40px;
            border: 1px solid #39383a;
            font-weight: 400;
        }/*logo-img*/

        &-lines{
            margin: 0 0 0 0;
    
            &__left{
                .logo-line:nth-child(2), .logo-line:nth-child(4){
                    margin-right: 16px;
                    width: 55px;
                }
            }
    
            &__left{
                .logo-line:nth-child(3){
                    margin-right: 24px;
                    width: 60px;
                }
            }
    
            &__right{
                .logo-line:nth-child(2), .logo-line:nth-child(4){
                    margin-left: 16px;
                    width: 55px;
                }
            }
    
            &__right{
                .logo-line:nth-child(3){
                    margin-left: 24px;
                    width: 60px;
                }
            }
        }/*logo-lines*/

        &-line{
            margin: 2px 0 2px 0;
            height: 1px;
        }/*logo-line*/
    }/*logo*/
}