.navigation{
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: rgba(black, 0.98);
    transition: all ease 0.5s;
    &-container{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        &__item{
            color: #ffffff;
            text-transform: uppercase;
            letter-spacing: 3px;
            @include main-font;
            font-size: 24px;
            margin-bottom: 20px;
            transition: all ease 0.5s;
            transform: scale(1);
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    &-social{
        display: flex;
        justify-content: space-around;
        width: 200px;
        position: absolute;
        bottom: 10%;
        left: calc(50% - 100px);
        &__item{
            color: #ffffff;
            font-size: 26px;
            transition: all ease 0.5s;
            &:hover{
                transform: scale(1.2);
            }
        }
    }
    &_active{
        height: 100%;
    }
}